<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: Lato, Helvetica, sans-serif;
      }
      body {
        background-color: #e5e5f7;
        background-image: linear-gradient(#ccc 1px, transparent 1px),
          linear-gradient(to right, #ccc 1px, #e5e5f7 1px);
        background-size: 10px 10px;
      }
      h1,
      h2,
      h3,
      h4 {
        font-family: "UnifrakturCook", cursive;
      }
      #op-result {
        background-color: hsla(0, 0%, 100%, 0.8);
      }

    </style>
    <!-- <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              main: {
                light: "#ccc",
                dark: "#000"
              } 
            },
          },
        },
      };
    </script> -->
  </head>
  <body class="flex flex-col text-center px-4">
    <h1 class="text-6xl mt-4">Main menu</h1>
    <nav class="mt-4" hx-get="/main-menu" hx-trigger="load"></nav>
    <hr class="mt-4" />
    <section class="mt-4" id="op-container"></section>
    <section class="mt-4" id="op-result"></section>
  </body>
</html>
