{% from '_components.html' import nextButton with context %}

<h2 class="text-4xl">Derivative!</h2>
<form
>
  I want to know the derivative of
  <input
    class="border"
    type="text"
    name="derivative-input"
    id="derivative-input"
    value="{{input_user}}"
  />
  with respect to
  <input
    value="constant"
    class="border"
    type="text"
    name="derivative-constant"
    id="derivative-constant"
  />.
  {{nextButton(
    "→",
    "/derivative",
    "#op-result",
    "#derivative-input, #derivative-constant"
  )}}
</form>
