{% from '_components.html' import nextButton with context %}

<h2 class="text-4xl">Integrals!</h2>
I want to know the integral of
<input
  type="text"
  name="derivative-input"
  id="derivative-input"
  class="border"
  value="{{input_user}}"
/>
from lower limit
<input type="number" name="lower-lim" id="lower-lim" class="border" /> to upper
limit
<input type="number" name="upper-lim" id="upper-lim" class="border" /> where the
vairable is <input type="text" name="variable" id="variable" class="border" />.
{{nextButton("→")}}