I want to know the
<select class="p-1" name="operation" id="operation"
  hx-post="/operation"
  hx-target="#op-container"
  hx-trigger="keyup[keyCode==13]"
  hx-swap="innerHTML"
  hx-include="#user-input"
>
  <option value="derivative">Derivative</option>
  <option value="integral">Integral</option>
  <option value="finite-sum">Finite sum</option>
  <option value="infinite-sum">Infinite sum</option>
</select>
of
<input
  class="border"
  type="text"
  name="user-input"
  id="user-input"
  hx-post="/operation"
  hx-trigger="keyup[keyCode==13]"
  hx-target="#op-container"
  hx-swap="innerHTML"
  hx-include="#operation"
/>
<button 
  class="text-lg text-white px-2 rounded bg-blue-500 hover:bg-blue-700"
  hx-post="/operation"
  hx-target="#op-container"
  hx-swap="innerHTML"
  hx-include="#operation, #user-input"
>
→
</button>